<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BMCWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IFriendshipService">
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_ILobbyService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatLobbyService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IGameService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IGuestPlayerService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IChatFriendService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IEmailService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IAccountService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IProfileService" sendTimeout="00:10:00"
     maxBufferPoolSize="524288" maxReceivedMessageSize="100004570">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPlayerScoresService">
     <reliableSession inactivityTimeout="00:05:00" enabled="true" />
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IChatService">
     <security mode="None" />
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8091/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatFriendService" contract="ChatFriendServer.IChatFriendService"
    name="NetTcpBinding_IChatFriendService" />
   <endpoint address="net.tcp://localhost:8089/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILobbyService" contract="LobbyServer.ILobbyService"
    name="NetTcpBinding_ILobbyService" />
   <endpoint address="net.tcp://localhost:8085/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileService" contract="ProfileServer.IProfileService"
    name="NetTcpBinding_IProfileService" />
   <endpoint address="net.tcp://localhost:8083/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServer.IChatService"
    name="NetTcpBinding_IChatService" />
   <endpoint address="net.tcp://localhost:8087/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IFriendshipService" contract="FriendServer.IFriendshipService"
    name="NetTcpBinding_IFriendshipService" />
   <endpoint address="net.tcp://localhost:8097/ChatLobbyService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatLobbyService"
    contract="ChatLobbyServer.IChatLobbyService" name="NetTcpBinding_IChatLobbyService" />
   <endpoint address="net.tcp://localhost:8101/EmailService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IEmailService" contract="EmailServer.IEmailService"
    name="NetTcpBinding_IEmailService" />
   <endpoint address="net.tcp://localhost:8095/GameService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IGameService" contract="GameplayServer.IGameService"
    name="NetTcpBinding_IGameService" />
   <endpoint address="net.tcp://localhost:8099/GuestPlayerService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGuestPlayerService"
    contract="GuestPlayerServer.IGuestPlayerService" name="NetTcpBinding_IGuestPlayerService" />
   <endpoint address="net.tcp://localhost:8093/PlayerScoresService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerScoresService"
    contract="PlayerScoreServer.IPlayerScoresService" name="NetTcpBinding_IPlayerScoresService" />
   <endpoint address="net.tcp://localhost:8081/AccountService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IAccountService" contract="Server.IAccountService"
    name="NetTcpBinding_IAccountService" />
  </client>
	</system.serviceModel>
 <userSettings>
  <BMCWindows.Properties.Settings>
   <setting name="languageCode" serializeAs="String">
    <value />
   </setting>
  </BMCWindows.Properties.Settings>
 </userSettings>
</configuration>