<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IAccountService">
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IProfileService" receiveTimeout="00:10:00"
     sendTimeout="00:10:00" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760">
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IChatService" />
    <binding name="NetTcpBinding_IFriendshipService" />
    <binding name="NetTcpBinding_IFriendshipService1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILobbyService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8083/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServer.IChatService"
    name="NetTcpBinding_IChatService" />
   <endpoint address="net.tcp://localhost:8081/AccountService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IAccountService" contract="Server.IAccountService"
    name="NetTcpBinding_IAccountService" />
   <endpoint address="net.tcp://localhost:8087/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IFriendshipService" contract="FriendServer.IFriendshipService"
    name="NetTcpBinding_IFriendshipService" />
   <endpoint address="net.tcp://localhost:8085/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileService" contract="ProfileServer.IProfileService"
    name="NetTcpBinding_IProfileService" />
   <endpoint address="net.tcp://localhost:8089/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILobbyService" contract="LobbyServer.ILobbyService"
    name="NetTcpBinding_ILobbyService">
    <identity>
     <userPrincipalName value="MARLA\marla" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>