<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IFriendshipService">
     <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_ILobbyService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatLobbyService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGameService">
		<reliableSession enabled="true" inactivityTimeout="00:05:00" />
		<security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGuestPlayerService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatFriendService">
		<reliableSession enabled="true" inactivityTimeout="00:05:00" />
		<security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IEmailService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IAccountService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProfileService" sendTimeout="00:10:00"
     maxBufferPoolSize="524288" maxReceivedMessageSize="100004570">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPlayerScoresService">
     <security mode="None">
      <transport clientCredentialType="None" />
      <message clientCredentialType="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatService">
     <security mode="None" />
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8091/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatFriendService" contract="ChatFriendServer.IChatFriendService"
    name="NetTcpBinding_IChatFriendService" />
   <endpoint address="net.tcp://localhost:8097/ChatLobbyService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatLobbyService"
    contract="ChatLobbyServer.IChatLobbyService" name="NetTcpBinding_IChatLobbyService" />
   <endpoint address="net.tcp://localhost:8101/EmailService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IEmailService" contract="EmailServer.IEmailService"
    name="NetTcpBinding_IEmailService" />
   <endpoint address="net.tcp://localhost:8095/GameService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IGameService" contract="GameplayServer.IGameService"
    name="NetTcpBinding_IGameService" />
   <endpoint address="net.tcp://localhost:8099/GuestPlayerService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGuestPlayerService"
    contract="GuestPlayerServer.IGuestPlayerService" name="NetTcpBinding_IGuestPlayerService" />
   <endpoint address="net.tcp://localhost:8089/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILobbyService" contract="LobbyServer.ILobbyService"
    name="NetTcpBinding_ILobbyService" />
   <endpoint address="net.tcp://localhost:8093/PlayerScoresService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerScoresService"
    contract="PlayerScoreServer.IPlayerScoresService" name="NetTcpBinding_IPlayerScoresService" />
   <endpoint address="net.tcp://localhost:8085/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileService" contract="ProfileServer.IProfileService"
    name="NetTcpBinding_IProfileService" />
   <endpoint address="net.tcp://localhost:8081/AccountService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IAccountService" contract="Server.IAccountService"
    name="NetTcpBinding_IAccountService" />
   <endpoint address="net.tcp://localhost:8083/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServer.IChatService"
    name="NetTcpBinding_IChatService" />
   <endpoint address="net.tcp://localhost:8087/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IFriendshipService" contract="FriendServer.IFriendshipService"
    name="NetTcpBinding_IFriendshipService" />
  </client>
	</system.serviceModel>
</configuration>